@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --darkModeColor: #131313;
    --darkModeTxtColor1: #e5e5e5;
    --darkModeTxtColor2: #b9bbba;
    --darkModeColorTxtDate:#dcdcdc;
    --darkModeUpiTxt:#b9bbba;

    --lightModeColor: white;
    --lightModeColorTxt: black;
}

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--darkModeColor);
    color: var(--darkModeTxtColor1);


}

.price{
    font-size: 28px;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.priceDiv{
    margin-top: 2rem;
    margin-bottom: 0;
}

.merchant{
    /* height: 1.1rem; */
    font-size: 16px;
    margin-top: 0rem;

    text-wrap: nowrap;
    /* overflow: hidden; */

}

.blueTick{
    background-image: url("./blueTick.png");
    background-size:cover;
    width: 6.5rem;
    height: 6.5rem;
    left: 4px;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.details,
.endDeets,
.upiInfo{
    font-size: 12px;
}

.endDeets{
    line-height: 45%;
}

.dateTime{
    /* color: black; */
    color: var(--darkModeColorTxtDate);
    font-size: 13px;
    font-weight: 500;

}


.details{
    line-height: 50%;
    margin-bottom: 3rem;
    margin-top: 0rem;
}

.transID,
.upiInfo{
    /* color: #6b6b6b; */
    color: #b9bbba;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formInput  >* {
    margin-top: 0.5rem;
}

.submit{
    margin-top: 1rem;
}

