@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.price{
    font-size: 28px;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.priceDiv{
    margin-top: 2rem;
    margin-bottom: 0;
}

.merchant{
    font-size: 16px;
    margin-top: 0rem;

}

.blueTick{
    background-image: url("./blueTick.png");
    background-size:cover;
    width: 6.5rem;
    height: 6.5rem;
    left: 4px;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.details,
.endDeets,
.upiInfo{
    font-size: 12px;
}

.endDeets{
    line-height: 45%;
}

.dateTime{
    font-weight: 510;
}

.transID{
    /* font-weight: 100; */
}


.details{
    line-height: 50%;
    margin-bottom: 3rem;
    margin-top: 0rem;
}

.transID,
.upiInfo{
    color: #3f3e3e;
}

